---
name: home
url: /
controller: startController
---

<div class="menu-group primary" >
    
    <div class="menu-group-left">
        <ul class="menu-bar primary">
            <li><a ui-sref="home"><strong>socialApp</strong></a></li>
        </ul>
    </div>
    
    <div class="menu-group-right">
        <ul class="menu-bar primary">
            <li ng-show="theUser.user"><a>{{theUser.user}}</a></li>
            <li><a ng-click="logOut()">logout</a></li>
        </ul>
    </div>
    
</div>

<div class="grid-container">  
    
    <div ng-repeat="user in allUsers" class="card">
        <div class="card-section">
            <h4>{{user.user}}</h4>
            <span ng-show="user.online == 'true'" class="success label">Online</span>
            <span ng-show="user.online == 'false'" class="alert label">Offline</span>
        </div>
    </div>



</div>

